/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "mixins";

 
@import "compass/css3/box-shadow";

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-right: 8px;
	-webkit-font-smoothing: antialiased;
}
 @import "compass/reset";
 $sans:'Helvetica', sans-serif;
 $sans2: "brandon-grotesque", sans-serif;
 $serif: "kepler-std",serif;
 $blue: #3E406B;
 $blue2: #EBC288;
 $dark: #1d1d1d;
 $bright: #EDEDE3;
 $red: #EA593D;
 $hls: #EBC288;
 $green: #489C79;





/* html { 
  background: url(../images/applicationflow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

body {
	font: {
		family: $sans2;
		weight: 400;
		size: 1.3rem;
	}
	line-height: 1.9rem;
	color: $dark*2;
	-webkit-font-smoothing: antialiased;
	padding: 10px 20px;
	border-top: solid 10px $hls;
}
address, hgroup, section, footer {
	
}
header {
	padding-bottom: 50px;
}
hgroup {
	border-bottom-width: 1px;
	b {
		color: $blue2;	
	}
}
h1 {
	font-weight: 700;
	// color: $blue2;
	}
h2 {
	font: {
		family: $sans2;
		weight: 400;
		size: 3rem;
	}
	line-height: 3.8rem;
	margin-top: -10px;
	text-transform: uppercase;
}
h3 {
	margin: 20px 0;
	font-weight: 700;
}
p {
	font: {
		weight: 500;
	}
	//	margin-top: 20px;

	// border-top-style: solid;
	// border-top-width: 10px;
	// border-color:$dark;

}
a {
	color:$blue2;
	text-decoration: none;
}

b {
	//font-weight: 700;
}
tr {
	td {
		vertical-align: top;
		padding-bottom: 1em;
				&:nth-child(odd) {
					padding-right: 1em;
					width: 200px;
					font-weight: 900;
				}
	}
}
footer {
	border-top: solid 10px $blue;
	margin-top: 50px;
}
address {
	line-height: 1.5em;

	li {	
		//opacity: 0.7;
		color: $blue2;
		display: inline-block;
		padding-right: 30px;
	}
	li:hover {
		opacity: 1;

	}
	

}

section {

	&#wrapper {
		// img {
		// 	max-width: 200px;
		// 	max-height: 400px;
		// }
		img.ava {
			width: 20%;
			height: auto;
			margin-right: 5%;
			-webkit-clip-path: polygon(
				50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
				);
			-moz-clip-path: polygon(
				50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
				);
			-ms-clip-path: polygon(
				50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
				);
			clip-path: polygon(
				50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
				);
		}
		img.case {
			@include background-gradient(transparentize(white, 0.2), transparentize(white, 1));
			width: 800px;
			display:none;
		}
	}
	&.white {
		// background-color: $bright;
		color: $dark;
		h3 {
			color: $dark;
		}
	}
	&.blue {
		background-color: $blue;
	}
}
.dn {
	display: none;
}
.header-img {
	z-index: -1;
	
	img {
	width: 500px;
}
}
.toggle {
	text-align: center;
	display: none;
	//margin-left: -170px;
	font-size: 5rem;
	padding: 30px;
	padding-bottom: 45px;
	color: $hls;
	//border: solid 2px;
	&:hover {
		color: white;
	}
}
.more {
	display: none;
	padding-top: 40px;
	padding-right: 60px;
	background: $hls;
	padding-bottom: 40px;
	table {
		width: 950px;
		margin: 0 auto;
	}
}
.tags {
	li {
		padding: 1px 15px;
		background-color: $blue;
		color: #fff;
		display: inline;

		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 

	}
}
#case {
	@include background-gradient(transparentize(white, 0.3), transparentize(white, 1));
	width: 800px;
}

.flex-container {
	@include flex-container(flex-start);
	// margin: 40px 0 80px;
	padding: 60px;
	
	h3 {
		font-weight: 900;
		margin-top: 20px;
		//border-top: solid 2px black;
	}
	img {
		min-width: 100%;
	}
}
.flex-item-25 {
	@include flex-item($width:22%);
	//background: $hls;
	font-weight: 900;
	padding-right: 3%;
	img {
		display: none;
		width: 90%;
		border: solid 2px black;
	}
	&.opacity {
		opacity: 0.7;
		&:hover {
			opacity:1;
		}
	}
	p {
		margin-top: none;
	}
	p.fonts {
		font-size: 3rem;
	}
	a {
		text-decoration: underline;

	}
	.color-formhaus-1 {
		background: $red;
		width: 60px;
		height: 60px;
		border-radius: 100%;
	}
	.color-formhaus-2 {
		background: $green;
		width: 60px;
		height: 60px;
		border-radius: 100%;
	}
		
		a.launch {
		background: $blue2;
		color: white;
		padding: 8px 12px;
		margin: 20px 0;
		display: inline-block;
		border-radius: 3px;
		opacity: 0.8;
			color: white;
			text-decoration: none;
		}
		a:hover {
			opacity: 1;
		}
	}

.flex-item-375 {
	@include flex-item($width:37.5%)
}
.flex-item-75 {
	@include flex-item($width:75%);
	img { 
		//display: none;
		max-width: 400px;
		/*@include box-shadow(grey 0px 0px 15px);*/
		//border-top-left-radius: 0.2em;
		//border-top-right-radius: 0.2em;
		//border: solid 2px black;
	}
	p {
		margin: 0;
		padding-right: 100px;
		padding-bottom: 10px;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 30px;
	}
	}


.flex-item-grow {
	flex-grow: 2;
}
.tags {
	li {
		padding: 1px 15px;
		background-color: $blue;
		color: #fff;
		display: inline;

		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent; 

	}
}
@media only screen and (min-width : 1200px) {
	body {
		padding: 20px 80px;
	}
	h2 {
	font: {
		size: 5rem;
	}
	line-height: 5.8rem;
	margin-top: -10px;
	text-transform: uppercase;

}
}
