/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../sass/screen.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 8px;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* html { 
  background: url(../images/applicationflow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/* line 56, ../sass/screen.scss */
body {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.9rem;
  color: #3a3a3a;
  -webkit-font-smoothing: antialiased;
  padding: 10px 20px;
  border-top: solid 10px #ebc288;
}

/* line 71, ../sass/screen.scss */
header {
  padding-bottom: 50px;
}

/* line 74, ../sass/screen.scss */
hgroup {
  border-bottom-width: 1px;
}
/* line 76, ../sass/screen.scss */
hgroup b {
  color: #ebc288;
}

/* line 80, ../sass/screen.scss */
h1 {
  font-weight: 700;
}

/* line 84, ../sass/screen.scss */
h2 {
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.8rem;
  margin-top: -10px;
  text-transform: uppercase;
}

/* line 94, ../sass/screen.scss */
h3 {
  margin: 20px 0;
  font-weight: 700;
}

/* line 98, ../sass/screen.scss */
p {
  font-weight: 500;
}

/* line 109, ../sass/screen.scss */
a {
  color: #ebc288;
  text-decoration: none;
}

/* line 118, ../sass/screen.scss */
tr td {
  vertical-align: top;
  padding-bottom: 1em;
}
/* line 121, ../sass/screen.scss */
tr td:nth-child(odd) {
  padding-right: 1em;
  width: 200px;
  font-weight: 900;
}

/* line 128, ../sass/screen.scss */
footer {
  border-top: solid 10px #3e406b;
  margin-top: 50px;
}

/* line 132, ../sass/screen.scss */
address {
  line-height: 1.5em;
}
/* line 135, ../sass/screen.scss */
address li {
  color: #ebc288;
  display: inline-block;
  padding-right: 30px;
}
/* line 141, ../sass/screen.scss */
address li:hover {
  opacity: 1;
}

/* line 156, ../sass/screen.scss */
section#wrapper img.ava {
  width: 20%;
  height: auto;
  margin-right: 5%;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/* line 173, ../sass/screen.scss */
section#wrapper img.case {
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  width: 800px;
  display: none;
}
/* line 179, ../sass/screen.scss */
section.white {
  color: #1d1d1d;
}
/* line 182, ../sass/screen.scss */
section.white h3 {
  color: #1d1d1d;
}
/* line 186, ../sass/screen.scss */
section.blue {
  background-color: #3e406b;
}

/* line 190, ../sass/screen.scss */
.dn {
  display: none;
}

/* line 193, ../sass/screen.scss */
.header-img {
  z-index: -1;
}
/* line 196, ../sass/screen.scss */
.header-img img {
  width: 500px;
}

/* line 200, ../sass/screen.scss */
.toggle {
  text-align: center;
  display: none;
  font-size: 5rem;
  padding: 30px;
  padding-bottom: 45px;
  color: #ebc288;
}
/* line 209, ../sass/screen.scss */
.toggle:hover {
  color: white;
}

/* line 213, ../sass/screen.scss */
.more {
  display: none;
  padding-top: 40px;
  padding-right: 60px;
  background: #ebc288;
  padding-bottom: 40px;
}
/* line 219, ../sass/screen.scss */
.more table {
  width: 950px;
  margin: 0 auto;
}

/* line 225, ../sass/screen.scss */
.tags li {
  padding: 1px 15px;
  background-color: #3e406b;
  color: #fff;
  display: inline;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

/* line 236, ../sass/screen.scss */
#case {
  background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  width: 800px;
}

/* line 241, ../sass/screen.scss */
.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  padding: 60px;
}
/* line 246, ../sass/screen.scss */
.flex-container h3 {
  font-weight: 900;
  margin-top: 20px;
}
/* line 251, ../sass/screen.scss */
.flex-container img {
  min-width: 100%;
}

/* line 255, ../sass/screen.scss */
.flex-item-25 {
  -webkit-flex: 0 1 22%;
  -moz-flex: 0 1 22%;
  -ms-flex: 0 1 22%;
  flex: 0 1 22%;
  font-weight: 900;
  padding-right: 3%;
}
/* line 260, ../sass/screen.scss */
.flex-item-25 img {
  display: none;
  width: 90%;
  border: solid 2px black;
}
/* line 265, ../sass/screen.scss */
.flex-item-25.opacity {
  opacity: 0.7;
}
/* line 267, ../sass/screen.scss */
.flex-item-25.opacity:hover {
  opacity: 1;
}
/* line 271, ../sass/screen.scss */
.flex-item-25 p {
  margin-top: none;
}
/* line 274, ../sass/screen.scss */
.flex-item-25 p.fonts {
  font-size: 3rem;
}
/* line 277, ../sass/screen.scss */
.flex-item-25 a {
  text-decoration: underline;
}
/* line 281, ../sass/screen.scss */
.flex-item-25 .color-formhaus-1 {
  background: #ea593d;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
/* line 287, ../sass/screen.scss */
.flex-item-25 .color-formhaus-2 {
  background: #489c79;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
/* line 294, ../sass/screen.scss */
.flex-item-25 a.launch {
  background: #ebc288;
  color: white;
  padding: 8px 12px;
  margin: 20px 0;
  display: inline-block;
  border-radius: 3px;
  opacity: 0.8;
  color: white;
  text-decoration: none;
}
/* line 305, ../sass/screen.scss */
.flex-item-25 a:hover {
  opacity: 1;
}

/* line 310, ../sass/screen.scss */
.flex-item-375 {
  -webkit-flex: 0 1 37.5%;
  -moz-flex: 0 1 37.5%;
  -ms-flex: 0 1 37.5%;
  flex: 0 1 37.5%;
}

/* line 313, ../sass/screen.scss */
.flex-item-75 {
  -webkit-flex: 0 1 75%;
  -moz-flex: 0 1 75%;
  -ms-flex: 0 1 75%;
  flex: 0 1 75%;
}
/* line 315, ../sass/screen.scss */
.flex-item-75 img {
  max-width: 400px;
  /*@include box-shadow(grey 0px 0px 15px);*/
}
/* line 323, ../sass/screen.scss */
.flex-item-75 p {
  margin: 0;
  padding-right: 100px;
  padding-bottom: 10px;
}
/* line 328, ../sass/screen.scss */
.flex-item-75 h1 {
  margin-top: 0;
  margin-bottom: 30px;
}

/* line 335, ../sass/screen.scss */
.flex-item-grow {
  flex-grow: 2;
}

/* line 339, ../sass/screen.scss */
.tags li {
  padding: 1px 15px;
  background-color: #3e406b;
  color: #fff;
  display: inline;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media only screen and (min-width: 1200px) {
  /* line 351, ../sass/screen.scss */
  body {
    padding: 20px 80px;
  }

  /* line 354, ../sass/screen.scss */
  h2 {
    font-size: 5rem;
    line-height: 5.8rem;
    margin-top: -10px;
    text-transform: uppercase;
  }
}
