/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* html { 
  background: url(../images/applicationflow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/* line 21, ../sass/screen.scss */
body {
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  color: #1f445c;
}

/* line 30, ../sass/screen.scss */
hgroup {
  width: 1160px;
}

/* line 33, ../sass/screen.scss */
h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* line 40, ../sass/screen.scss */
h2 {
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
}

/* line 48, ../sass/screen.scss */
h3 {
  font-size: 60px;
  line-height: 1.2em;
  color: #1f445c;
  margin-top: 120px;
}
/* line 54, ../sass/screen.scss */
h3 a {
  color: #1f445c;
}

/* line 60, ../sass/screen.scss */
p {
  padding: 30px 0;
}

/* line 63, ../sass/screen.scss */
b {
  font-weight: 700;
}

/* line 66, ../sass/screen.scss */
address {
  position: absolute;
  top: 60px;
  right: 60px;
  line-height: 1.3em;
}
/* line 71, ../sass/screen.scss */
address a {
  color: #ea593d;
  opacity: 0.6;
  text-decoration: none;
}
/* line 76, ../sass/screen.scss */
address a:hover {
  opacity: 1;
}

/* line 80, ../sass/screen.scss */
header {
  padding: 60px;
}

/* line 83, ../sass/screen.scss */
section {
  padding: 30px 60px;
  width: 1000px;
}
/* line 91, ../sass/screen.scss */
section#wrapper img.ava {
  width: 20%;
  height: auto;
  margin-right: 5%;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

/* line 111, ../sass/screen.scss */
.tags li {
  padding: 1px 15px;
  background-color: #1f445c;
  color: #fff;
  display: inline;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
